.charactersection-article {
    margin-bottom: 60px;
    background-color: beige;
    width: fit-content;
    padding-bottom: 10px;

    &_img {
        width: 210px;
        height: 295px;
    }

    

    
}

